@model IEnumerable<EcommerceWebsite.Models.Product>

@{
    ViewData["Title"] = "ViewCart";
}

<h1>ViewCart</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <img src="@Url.Content(item.Imageurl)" height="200" width="200" /><br />
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)<br /></h5>
                        <h6 class="card-title">Price: @Html.DisplayFor(modelItem => item.Price)<br /></h6>
                        <h6 class="card-title">Category: @Html.DisplayFor(modelItem => item.Cname)<br /></h6>

                        <a href="/Cart/RemoveCart/@item.CartId" class="btn btn-primary add">Remove From Cart</a>
                        <a href="/Order/ConfirmOrder/@item.CartId" class="btn btn-primary add">Place Order</a>



                    </div>
                </div>
            </div>
        }
    </div>
</div>