@model IEnumerable<EcommerceWebsite.Models.Product>

@{
    ViewData["Title"] = "ShowProduct";
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <img src="@Url.Content(item.Imageurl)" height="150" width="200" />
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>
                    <h5 class="card-title">
                        Price:@Html.DisplayFor(modelItem => item.Price)
                    </h5>
                    <h5 class="card-title">
                        Category Name:@Html.DisplayFor(modelItem => item.Cname)

                    </h5>

                    <a href="/Cart/AddToCart/@item.Id" class="btn btn-outline-success">Add to cart </a>
                    <a href="/Cart/ViewCart/@item.Id" class="btn btn-outline-success">View more </a>

                </div>
            </div>

        </div>
    }
</div>
    </div>
}
   

